@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cormorant+SC:wght@300;500;700&display=swap");
*::selection {
  background-color: #f6af44;
  color: #fff;
}
body {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  color: #000;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #fff;
  overflow: auto;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

div {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

.header {
  width: 100%;
  position: fixed;
  top: 0;
  background-color: #fff;
  padding: 10px 20px;
  box-sizing: border-box;
  box-shadow: 0px 0px 10px 0px rgb(0 0 0 / 52%);
  z-index: 10;
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  display: flex;
  align-items: center;
  text-decoration: none;
  flex-wrap: nowrap;
  color: #000;
}

.logo__img {
  width: 32px;
  height: 32px;
  margin-right: 10px;
}

.logo__title {
  font-weight: 700;
  font-size: 32px;
  width: 155px;
}

.search {
  display: flex;
  align-items: center;
  width: 470px;
  margin: 0 100px;
}

.search__input {
  width: 100%;
  height: 30px;
  font-size: 16px;
  border-radius: 5px 0 0 5px;
  border: 1px solid #c1c1c1;
  outline: none;
  padding-left: 10px;
}

.search__input:focus {
  border: 1px solid #ffb121;
  box-shadow: 0px 0px 4px 0px #ffb121;
}

.search__btn {
  min-width: 30px;
  height: 32px;
  background-color: #d1d1d6;
  background-image: url(../img/magnifying-glass.svg);
  background-size: 60%;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 0 5px 5px 0;
  border: 1px solid #c1c1c1;
  border-left: none;
}

.search__btn:hover {
  background-color: #aeaeb2;
}

.search__mic {
  min-width: 23px;
  height: 23px;
  background-image: url(../img/microphone_1.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin-left: 5px;
}

.search__mic:hover {
  background-image: url(../img/microphone_2.svg);
}

.search__mic:active {
  background-image: url(../img/microphone_3.svg);
}

.menu_wrap {
  display: flex;
  align-items: center;
}

.notification {
  cursor: pointer;
  width: 32px;
  height: 32px;
  background-color: #fff;
  background-image: url(../img/bell1.svg);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  border: none;
}

.notification:hover {
  background-image: url(../img/bell.svg);
}

.menu {
  margin-left: 20px;
  position: relative;
}

.menu__btn {
  cursor: pointer;
  width: 45px;
  height: 45px;
  background-color: #ffb121;
  background-image: url(../img/paw-print.svg);
  background-size: 70%;
  background-repeat: no-repeat;
  background-position: center;
  border: none;
  border-radius: 50px;
  transition: background-color 0.5s;
}

.menu:hover .nav {
  display: block;
}

.menu:hover .menu__btn {
  background-color: #aeaeb2;
}

.nav {
  display: none;
  position: absolute;
  top: 50px;
  right: 0;
  width: 160px;
  background-color: #fff;
  border-radius: 4px;
  list-style: none;
  box-shadow: 0px 1px 4px 0px #00000078;
  padding: 0;
  margin: 0;
}

.nav__li {
  cursor: pointer;
  display: flex;
  align-items: center;
  padding: 8px 0 8px 15px;
}

.nav__li img {
  margin-right: 10px;
}

.size-16 {
  width: 16px;
  height: 16px;
}

.nav__li:first-child {
  border-radius: 4px 4px 0 0;
}

.nav__li:last-child {
  border-radius: 0 0 4px 4px;
  border-top: 1px solid #c1c1c1;
  color: red;
}

.nav__li:hover {
  background-color: #d1d1d1;
}

.sidebar {
  position: fixed;
  top: 68px;
  left: 0;
  width: 250px;
  height: calc(100% - 68px);
  background-color: #eaeaea;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0;
  margin: 0;
}

.streams {
  overflow: scroll;
  border-bottom: 2px solid #fff;
}

.streams::-webkit-scrollbar {
  display: none;
}
.streams:hover::-webkit-scrollbar {
  display: block;
}

.user {
  width: 100%;
  padding: 7px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.user:hover {
  background-color: #fff;
}

.user-wrap {
  display: flex;
  align-items: center;
}

.user__image {
  width: 27px;
  height: 27px;
  background-color: #fff;
  border-radius: 50px;
  padding: 5px;
  margin-right: 15px;
}
.slider__user__image {
  width: 27px;
  height: 27px;
  background-color: #fff;
  border-radius: 50px;
}
.user__name {
  width: 100px;
  font-size: 16px;
  text-overflow: ellipsis;
}
.user__name:hover {
  color: #ffb121;
}

.user__activity {
  width: 8px;
  height: 8px;
  background-color: red;
  border-radius: 50px;
  margin-right: 5px;
  box-shadow: 0 0 0 0 rgb(255, 0, 0);
  transform: scale(1);
  animation: pulse 2s infinite;
}

@keyframes pulse {
  0% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(255, 0, 0, 0.5);
  }
  70% {
    transform: scale(1);
    box-shadow: 0 0 0 5px rgba(255, 0, 0, 0);
  }
  100% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(255, 0, 0, 0);
  }
}

/* SCROLL BAR
/* width */

::-webkit-scrollbar {
  width: 7px;
}

/* Track */

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */

::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */

::-webkit-scrollbar-thumb:hover {
  background: #666;
}

.sidebar-info {
  position: relative;
  bottom: 0;
  background-color: lightgray;
  text-align: center;
  padding: 20px;
  margin: 20px;
  border-radius: 4px;
}

.sidebar-info__social {
  display: flex;
  justify-content: center;
  margin-top: 15px;
}

.sidebar-info__social-img {
  height: 30px;
  width: 30px;
  margin: 0 8px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.sidebar-info__social-youtube {
  background-image: url("../img/youtube_black.svg");
}

.sidebar-info__social-youtube:hover {
  background-image: url("../img/youtube_color.svg");
}

.sidebar-info__social-twitter {
  background-image: url("../img/twitter_black.svg");
}

.sidebar-info__social-twitter:hover {
  background-image: url("../img/twitter_color.svg");
}

.sidebar-info__social-instagram {
  background-image: url("../img/instagram_black.svg");
}

.sidebar-info__social-instagram:hover {
  background-image: url("../img/instagram_color.svg");
}

.main-content {
  /* width: 100%; */
  margin-top: 68px;
  margin-left: 250px;
  /* top: 68px;
    left: 250px; */
  background-color: #fff;
}

.categorys {
  height: 51px;
  display: flex;
  align-items: center;
  margin-left: 20px;
}

.category {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  overflow: auto;
}

.category::-webkit-scrollbar {
  display: none;
}

.category-link {
  text-decoration: none;
  color: #000;
  background-color: #ebebeb;
  border: 1px solid #c1c1c1;
  border-radius: 50px;
  padding: 5px 10px;
  margin: 0 10px 0 0;
  box-sizing: border-box;
}
.category-link:hover {
  background-color: lightgray;
}

.category-link:first-child {
  text-decoration: none;
  color: rgb(255, 255, 255);
  background-color: #ffb121;
  border: 1px solid #ffb121;
}

.allslide {
  height: 400px;
  padding: 0px 20px;
}
.allslide input {
  display: none;
}

#slider {
  position: relative;
  text-align: center;
  top: 10px;
  left: 55px;
}

#slider {
  margin: 0 auto;
}

#slides article {
  width: 20%;
  float: left;
}

#slides .image {
  width: 500%;
  line-height: 0;
}

#overflow {
  width: 100%;
  overflow: hidden;
}

#desktop:checked ~ #slider {
  max-width: 960px;
}

#switch1:checked ~ #controls label:nth-child(5),
#switch2:checked ~ #controls label:nth-child(1),
#switch3:checked ~ #controls label:nth-child(2),
#switch4:checked ~ #controls label:nth-child(3),
#switch5:checked ~ #controls label:nth-child(4) {
  float: left;
  margin: 0 0 0 -84px;
  display: block;
  height: 68px;
  width: 68px;
}

#switch1:checked ~ #controls label:nth-child(2),
#switch2:checked ~ #controls label:nth-child(3),
#switch3:checked ~ #controls label:nth-child(4),
#switch4:checked ~ #controls label:nth-child(5),
#switch5:checked ~ #controls label:nth-child(1) {
  float: right;
  margin: 0 -84px 0 0;
  display: block;
  height: 68px;
  width: 68px;
}

label,
a {
  cursor: pointer;
}

.all input {
  display: none;
}

#switch1:checked ~ #slides .image {
  margin-left: 0;
}

#switch2:checked ~ #slides .image {
  margin-left: -100%;
}

#switch3:checked ~ #slides .image {
  margin-left: -200%;
}

#switch4:checked ~ #slides .image {
  margin-left: -300%;
}

#switch5:checked ~ #slides .image {
  margin-left: -400%;
}

#controls {
  margin: -25% 0 0 0;
  width: 100%;
  height: 50px;
}

#active label {
  border-radius: 10px;
  display: inline-block;
  width: 15px;
  height: 15px;
  background: #bbb;
}

#active {
  margin: 23% 0 0;
  margin-right: 160px;
  text-align: center;
}

#active label:hover {
  background: #76c8ff;
  border-color: #777 !important;
}

#switch1:checked ~ #active label:nth-child(1),
#switch2:checked ~ #active label:nth-child(2),
#switch3:checked ~ #active label:nth-child(3),
#switch4:checked ~ #active label:nth-child(4),
#switch5:checked ~ #active label:nth-child(5) {
  background: #18a3dd;
  border-color: #18a3dd !important;
}

#slides .image {
  transition: all 800ms cubic-bezier(0.77, 0, 0.175, 1);
}

.videos {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0px 20px;
}

.video {
  width: 24%;
  margin: 10px 0;
}

.video_prew {
  position: relative;
  height: 14vw;
  overflow: hidden;
}

.video_prew:hover .video_prew-play {
  cursor: pointer;
  display: block;
  animation: fadeIn ease 1s;
}
.slider_prew:hover .video_prew-play {
  cursor: pointer;
  display: block;
  width: 600px;
  height: 300px;
  animation: fadeIn ease 1s;
}

.fade-in {
  animation: fadeIn ease 1s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.video_prew-play {
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.288);
  background-image: url("../img/paw-print-w.svg");
  background-repeat: no-repeat;
  background-size: 45px;
  background-position: center;
}

.video_prew-play-img {
  width: 32px;
  height: 32px;
}

.video_prew img {
  position: absolute;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.video_prew-live {
  cursor: pointer;
  position: absolute;
  top: 7px;
  left: 7px;
  display: inline-block;
  color: #fff;
  background-color: red;
  padding: 2px 7px;
  border-radius: 4px;
}

.video_prew-views {
  cursor: pointer;
  position: absolute;
  font-size: 14px;
  bottom: 7px;
  right: 7px;
  display: inline-block;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 4px 7px;
  border-radius: 4px;
}

.video_prew-time {
  cursor: pointer;
  position: absolute;
  font-size: 14px;
  bottom: 7px;
  right: 7px;
  display: inline-block;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 4px 7px;
  border-radius: 4px;
}

.video-info {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 10px 0 0;
  padding: 0;
}

.video-info_text {
  display: block;
}

.video-info_video-name {
  display: block;
  text-decoration: none;
  color: #000;
  font-weight: 700;
  font-size: 17px;
  text-overflow: ellipsis;
}
.slider__header {
  text-decoration: none;
  color: #000;
  font-weight: 700;
  font-size: 17px;
  text-overflow: ellipsis;
}

.video-info_video-name:hover {
  color: blue;
}
.slider__header:hover {
  color: blue;
}
.slider__author:hover {
  color: blue;
}
.video-info_username {
  display: block;
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  color: grey;
}
.slider__author {
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  color: grey;
}

.video-info_username:hover {
  color: blue;
}

.video-info_menu {
  width: 20px;
  height: 20px;
  background-image: url("../img/more.svg");
  background-repeat: no-repeat;
}

.video-info_wrap {
  display: flex;
}

.dn {
  display: none;
}

.footer {
  width: calc(100% - 250px);
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: auto;
  margin-top: 10px;
}

.footer p {
  font-size: 20px;
  text-align: center;
  padding: 30px 0;
  margin-right: 15px;
}

.footer__image {
  width: 20px;
  height: 20px;
}
.main__slide {
  display: flex;
}
.desc {
  width: 200px;
  height: auto;
  background-color: #dddddd;
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
}

.slider_name_img {
  display: flex;
  margin-top: 20px;
  margin-left: 10px;
}
.head__author {
  display: flex;
  flex-wrap: wrap;
  width: 150px;
  margin-top: 5px;
  margin-left: 15px;
}
.slider__author {
  margin-top: 20px;
}
.video__desc {
  line-height: initial;
  font-size: 14px;
  margin-top: 30px;
  margin-right: 0px;
}

@media screen and (max-width: 1470px) {
  .video {
    width: 33%;
    height: 18vw;
  }
}

@media screen and (max-width: 1200px) {
  .sidebar {
    width: 80px;
  }
  .user__name,
  .user__activity,
  .user__followers,
  .sidebar-info {
    display: none;
  }
  .main-content {
    margin-left: 80px;
  }
  .footer {
    width: calc(100% - 80px);
    left: 80px;
  }
}

@media screen and (max-width: 1000px) {
  .video {
    width: 49%;
    height: 28vw;
  }
  .video_prew {
    height: 23vw;
  }
  .allslide {
    display: none;
  }
}

@media screen and (max-width: 700px) {
  .video {
    width: 100%;
    height: 40vw;
  }
  .video_prew {
    height: 80%;
  }
}
